<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Progress Bar</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .progress{
            animation: progress 1000ms infinite;
        }
        @keyframes progress {
            0% { transform: translateX(-100%); }
            100% { transform: translateX(100%); }
        }
    </style>
</head>
<div class="bg-gray-900 flex justify-center items-center h-screen">
    <div class="w-64 h-2 bg-gray-700 rounded-full overflow-hidden">
        <div class="h-full bg-blue-500 rounded-full progress"></div>
    </div>

</div>
</html>